
<h1>Purchase Log</h1>
<% if user_signed_in? %>
   <% if !@purchases.empty?%> 
    <%@purchases.each do |purchase|%>
        <div class="panel panel-primary">
            <div class="panel-body">
                Fecha: <%=purchase.purchase_date%><br/>
                Purchase id: <%=purchase.id%><br/>
                User: <%=purchase.user.username%>
                <table class="table table-bordered">
            <thead>
            <tr>
                <th>Product Details</th>
                <th>Price</th>
                <th>Units</th>
                <th>Total/product</th>
            </tr>
            </thead>
            <% sum_total = 0%>
            <%purchase.orders.each do |o| %>
                <tr>
                    <td>
                    <h3>
                        <%= o.product.name %>          
                    </h3>
                    <div class='text-muted'> 
                        Category: <%= o.product.category.name %> <br/>
                        SKU: <%= o.product.sku %> 
                        
                    </div>
                    </td>
                    <td>
                    $ <%=o.product.price.round(2)%>
                    </td>
                    <td>
                    <%=o.quantity%>
                    </td>
                    <td>
                    $ <%=o.product.price.round(2) * o.quantity%>
                        <%sum_total += o.product.price.round(2) * o.quantity%>
                    </td>
                </tr>
            <% end %>
        </table>
            
            
            <h1> Total: $ <%=purchase.total.round(2)%></h1>
            
            
            </div>
            
        </div>
    <%end%>
   <%else%>
    <div class="alert alert-warning" role="alert">
        <h3>You have no purchase history</h3>
        <%= link_to "Products", products_path, class: "btn btn-primary btn-lg"%>
  
    </div>
   <%end%>

<%else%>
    <div class="alert alert-warning" role="alert">
        <h3>Please log in to see your purchse log</h3>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-lg"%>
  
</div>
<% end %>
