

<div class="panel panel-primary">
<div class="panel-body">
<%= form_with model: product, local: true  do |form| %>
<% if @product.image.attached?%>
              <%= image_tag(@product.thumb) %>
              
            <%else%>
              <%= image_tag 'not_found.jpg',  height: '220', width: '220'%>
            <%end%>
<div class="col-md-8">
<div class="form-group raw">

   <label for="product_image" class="col-md-2">Image:</label>
  <div class="col-md-8">
  
  <%= form.file_field :image, accept: 'image/png,image/gif,image/jpeg'%>
  </div>
</div><br/>
<div class="form-group raw">
   <label for="product_name" class="col-md-2">Name:</label>
  <div class="col-md-8">
  <%= form.text_field :name, class: "form-control ", required: true %>
  </div>
</div><br/>
<div class="form-group raw">
   <label for="product_stock" class="col-md-2">Stock:</label>
  <div class="col-md-8">
  <%= form.number_field :stock, min: 1, class: "form-control ", required: true%>
  </div>
</div><br/>
<div class="form-group raw">
   <label for="product_price" class="col-md-2">Price:</label>
  <div class="col-md-8">
  <%= form.number_field :price, min: 1, step: 0.01, class: "form-control ", required: true%>
  </div><br/>
</div>
<div class="form-group raw">
   <label for="product_category_id" class="col-md-2">Category:</label>
  <div class="col-md-8">
  <%= form.select :category_id, @categories.collect {|p| [ p.name, p.id ] }, { }, {class: "form-control"} %>
  </div>
</div>
<br/>
<br/>
  <%= form.submit class: "btn btn-success btn-lg" %>
<% end %>
</div>
</div>