
<h1>Product List</h1>
<% if flash[:alert] %>
  <div class="alert alert-<%= flash[:alert_type] %>" role="alert">
  <%= flash[:alert] %>
  <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
<% end %>
  

<div class="panel panel-primary">
  <div class="panel-body">

    <%= form_for @search, url: products_path, method: :get, class: "form-inline", as: :search do |form| %>
  
       <div class="col-md-3">
     
        <label for="">Category:</label>
        <%= form.select :category_id, [ [ 'All Categories', '0' ] ]+@categories.collect {|p| [ p.name, p.id ] }, { }, {class: "form-control"} %>
      
      </div>
      <div class="col-md-3">
      
       <label for="">Order by:</label>
        <%= form.select :order_by, [["Name","name ASC"], ["Most liked","likes_count ASC"]], {  }, { class: "form-control" } %>
       
       </div>
       <div class="col-md-3">
        <label for="">Search by:</label>
        <%= form.text_field :search_txt, class:"form-control" %>
      
      </div>

      
      <div class="col-md-12">
      <br/>
      <input type="submit" class="btn btn-default" value="Search"/>
      <%= link_to products_path do %>
        All products
      <% end  %>
      </div>
    <% end %>
    
  </div>
</div>
 <%if @user and @user.has_role? :admin%>
 <div class="panel panel-primary">
  <div class="panel-body">
    <%=link_to "Add new product", new_product_path, class: "btn btn-primary btn-lg"%>
  </div>
 </div>
<%end%>
<div class="panel panel-primary">
    
  <div class="panel-body">
    
      <% @products_list.each_with_index do |p, index| %>
      <div>
        <div class="panel panel-default col-md-6">
          <div class="panel-body">
            <% if p.image.attached?%>
              <%= image_tag(p.thumb) %>
              
            <%else%>
              <%= image_tag 'not_found.jpg', height: '220', width: '220'%>
            <%end%>

            
            <h3>
              <%= p.name %>
             <br/><div class="small text-muted">SKU: <%= p.sku%>
             <br>Category: <%= p.category.try(:name) %></div>
            </h3>
            <h2>
              $ <%= p.price.round(2) %>
            </h2>
            
            
              <%= form_with model: @like, method: "post", class: "form-inline", remote: true do |form| %>
                <%=link_to "View", product_path(p.id), class: "btn btn-primary btn-lg"%>
                <%= form.hidden_field :product, value: p.id %> 
                <% if user_signed_in? %>
                  <button type="submit" class="btn btn-default btn-lg" ><i class="fas fa-hand-peace"></i></button>
                <% end %>    
              <% end %>
            
             <div id="likes-div">
              <%= render partial: 'likes', locals: {product: p} %>
             </div>
             <div>Comments: <%=p.comments.size%></div>
             <%if @user and @user.has_role? :admin%>
              <hr>
               <%=link_to "Edit", edit_product_path(p.id), class: "btn btn-success btn-lg"%>
               <%=link_to "Remove", product_path(p.id), method: :delete, class: "btn btn-danger btn-lg", data: {confirm: "Do you want to remove the product?"}  %>
             <%end%> 

          </div>
        </div>
        </div>  
       
      <%end%>
    
    </div>
    <div class="panel-footer">
     <%== pagy_bootstrap_nav(@pagy) %>
    </div>
</div>
